<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%-title%></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  </head>
  <body>

    <%- include('nav')%>

    <div class="container">
        <%- body %>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
         const ownerSelect = document.getElementById('owner');
   
         // Fetch data pemilik dari server
         fetch('/owners')
            .then(response => response.json())
            .then(data => {
               data.data.forEach(owner => {
                  const option = document.createElement('option');
                  option.value = owner._id; // Gunakan ID pemilik sebagai nilai
                  option.text = owner.nama; // Gunakan nama pemilik sebagai teks opsi
                  ownerSelect.add(option);
               });
            })
            .catch(error => console.error('Error fetching owners:', error));
      });
   </script>
   
  </body>
</html>